In [1]:
import os
import sys
import pandas as pd

import rmgpy.chemkin

sys.path.append('/work/westgroup/harris.se/autoscience/reaction_calculator/dft')
import importlib
import thermokinetic_fun
importlib.reload(thermokinetic_fun)

WARNING:root:Optional package dependency "xlwt" not loaded. Some output features will not work.

In [2]:
# Load databases
reaction_csv = os.path.join(thermokinetic_fun.DFT_DIR, 'reaction_database.csv')
reaction_df = pd.read_csv(reaction_csv)

# load species database that includes adjacency lists
species_csv = os.path.join(thermokinetic_fun.DFT_DIR, 'species_database.csv')
species_df = pd.read_csv(species_csv)

In [3]:
for i in range(0, len(species_df)):
    sp1 = rmgpy.species.Species().from_adjacency_list(species_df['adjacency_list'].values[i])
    for j in range(0, i):
        sp2 = rmgpy.species.Species().from_adjacency_list(species_df['adjacency_list'].values[j])
        assert not sp1.is_isomorphic(sp2)

In [4]:
reaction_df

,i,name,SMILES,unique_string
0,0,H(14) + O2(2) <=> OH(15) + O(5),[H]+[O][O]_[OH]+[O],5+17=8+18
1,1,H2(13) + O(5) <=> H(14) + OH(15),[H][H]+[O]_[H]+[OH],8+16=17+18
2,2,H2(13) + OH(15) <=> H2O(8) + H(14),[H][H]+[OH]_O+[H],16+18=11+17
3,3,OH(15) + OH(15) <=> H2O(8) + O(5),[OH]+[OH]_O+[O],18+18=8+11
4,4,H2(13) <=> H(14) + H(14),[H][H]_[H]+[H],16=17+17
...,...,...,...,...
7127,7158,C2H3O5(31742) + [CH2]CO(84) <=> C2H4O(467) + C...,[O]OCC(=O)OO+[CH2]CO_C=CO+O=C(COO)OO,113+264=112+348
7128,7159,H(14) + C2H4O(467) <=> CH2O(9) + [CH3](22),[H]+C=CO_C=O+[CH3],17+112=12+21
7129,7160,H(14) + C2H4O(467) <=> CC[O](31),[H]+C=CO_CC[O],17+112=40
7130,7161,H(14) + C2H4O(467) <=> O(5) + C[CH2](20),[H]+C=CO_[O]+C[CH2],17+112=8+32
7131,7162,H(14) + C2H4O(467) <=> H(14) + C2H4O(35),[H]+C=CO_[H]+CC=O,17+112=17+33

In [5]:
for i in range(0, len(reaction_df)):
    for j in range(0, i):
        assert reaction_df['unique_string'].values[i] != reaction_df['unique_string'].values[j], f'{i}, {j}'

In [6]:
len(reaction_df)

7132

In [7]:
for i in range(0, len(reaction_df)):
    for j in range(0, i):
#         if reaction_df['i'].values[i] == reaction_df['i'].values[j]:
#             print(f'{i}, {j}')
        assert reaction_df['i'].values[i] != reaction_df['i'].values[j], f'{i}, {j}'

In [8]:
reaction_df

,i,name,SMILES,unique_string
0,0,H(14) + O2(2) <=> OH(15) + O(5),[H]+[O][O]_[OH]+[O],5+17=8+18
1,1,H2(13) + O(5) <=> H(14) + OH(15),[H][H]+[O]_[H]+[OH],8+16=17+18
2,2,H2(13) + OH(15) <=> H2O(8) + H(14),[H][H]+[OH]_O+[H],16+18=11+17
3,3,OH(15) + OH(15) <=> H2O(8) + O(5),[OH]+[OH]_O+[O],18+18=8+11
4,4,H2(13) <=> H(14) + H(14),[H][H]_[H]+[H],16=17+17
...,...,...,...,...
7127,7158,C2H3O5(31742) + [CH2]CO(84) <=> C2H4O(467) + C...,[O]OCC(=O)OO+[CH2]CO_C=CO+O=C(COO)OO,113+264=112+348
7128,7159,H(14) + C2H4O(467) <=> CH2O(9) + [CH3](22),[H]+C=CO_C=O+[CH3],17+112=12+21
7129,7160,H(14) + C2H4O(467) <=> CC[O](31),[H]+C=CO_CC[O],17+112=40
7130,7161,H(14) + C2H4O(467) <=> O(5) + C[CH2](20),[H]+C=CO_[O]+C[CH2],17+112=8+32
7131,7162,H(14) + C2H4O(467) <=> H(14) + C2H4O(35),[H]+C=CO_[H]+CC=O,17+112=17+33