In [1]:
import os
import sys
import pandas as pd

import rmgpy.chemkin

sys.path.append('/work/westgroup/harris.se/autoscience/reaction_calculator/dft')
import importlib
import thermokinetic_fun
importlib.reload(thermokinetic_fun)

WARNING:root:Optional package dependency "xlwt" not loaded. Some output features will not work.

In [2]:
# Load databases
reaction_csv = os.path.join(thermokinetic_fun.DFT_DIR, 'reaction_database.csv')
reaction_df = pd.read_csv(reaction_csv)

# load species database that includes adjacency lists
species_csv = os.path.join(thermokinetic_fun.DFT_DIR, 'species_database.csv')
species_df = pd.read_csv(species_csv)

In [7]:
for i in range(0, len(species_df)):
    sp1 = rmgpy.species.Species().from_adjacency_list(species_df['adjacency_list'].values[i])
    for j in range(0, i):
        sp2 = rmgpy.species.Species().from_adjacency_list(species_df['adjacency_list'].values[j])
        assert not sp1.is_isomorphic(sp2)

In [8]:
reaction_df

,Unnamed: 0,i,name,SMILES,unique_string
0,0,0,H(14) + O2(2) <=> OH(15) + O(5),[H]+[O][O]_[OH]+[O],5+17=8+18
1,1,1,H2(13) + O(5) <=> H(14) + OH(15),[H][H]+[O]_[H]+[OH],8+16=17+18
2,2,2,H2(13) + OH(15) <=> H2O(8) + H(14),[H][H]+[OH]_O+[H],16+18=11+17
3,3,3,OH(15) + OH(15) <=> H2O(8) + O(5),[OH]+[OH]_O+[O],18+18=8+11
4,4,4,H2(13) <=> H(14) + H(14),[H][H]_[H]+[H],16=17+17
...,...,...,...,...,...
4715,4715,4715,HO2(16) + CH2CHO(21) <=> O=O(690) + C2H3OH(58),[O]O+[CH2]C=O_O=O+C=CO,19+24=112+121
4716,4716,4716,O=O(690) + C2H3OH(58) <=> CO(6) + CH3O2H(46),O=O+C=CO_[C-]#[O+]+COO,112+121=9+37
4717,4717,4717,O=O(690) + C2H3OH(58) <=> HO2CH2CHO(147),O=O+C=CO_O=CCOO,112+121=188
4718,4718,4718,C2H3(22) + CH3CHO(35) <=> C2H3(22) + C[CH][O](...,[CH]=C+CC=O_[CH]=C+C[CH][O],25+33=25+230
4719,4719,4719,O=O(690) + C2H3OH(58) <=> H(14) + O2CH2CHO(56),O=O+C=CO_[H]+[O]OCC=O,112+121=17+42

In [10]:
for i in range(0, len(reaction_df)):
    for j in range(0, i):
        assert reaction_df['unique_string'].values[i] != reaction_df['unique_string'].values[j], f'{i}, {j}'

AssertionError: 240, 83